.view {
    margin: 0 24px 0 26px;
}
.sidebar {
    float: right;
}
#forecastlocation-name.locationName {
    top: 36px;
    float: right;
    margin-left: 0;
    margin-right: 10px;
}
#forecastlocation-name.locationName span{
    text-align: left;
}
#mainView.main{
	margin-left: 0px;
}
.main .searchHeaderTitle{
	margin-left: 0px;
}
.searchHeaderTitle:after {
    left: 0px !important;
    width: 504px;
}
.scroll-container .icon {
    left: auto;
    right: 0;
}
.scroll-container .favselected, #favourite-list .scroll .update{
    left: 0;
}
.scroll-container .list, .scroll-container .legal-information {
    direction: ltr;
}
#mainView.searchListPage{
	margin-left: 0px;
}
.list li.scrollListElement {
    margin-left: 0px;
    width: 504px;
}
.with-out-scroll .list li.scrollListElement{
    width: 588px;
}
.main .searchHeaderTitleScroll:after {
    left: 0px !important;
    width: 588px;
}
.titleScreen_theme_NoPanel:before, .titleScreen_theme:before,.titleScreen_theme_NoPanel:before, .fog_theme:before, .hazy_theme:before, .icy_theme:before, .wind_theme:before, 
.snow_theme:before, .showers_theme:before, .sunny_theme:before, .clear_night_theme:before, .partly_sunny_theme:before, .overcast_theme:before, .thundershowers_theme:before, 
.moon_cloud_theme:before, .moon_hazy_theme:before, .hail_theme:before, .genericImg:before,.thundershowers_theme_dest:before,.fog_theme_dest:before,.hazy_theme_dest:before,
.icy_theme_dest:before,.wind_theme_dest:before,.snow_theme_dest:before,.showers_theme_dest:before,.sunny_theme_dest:before,.clear_night_theme_dest:before,.partly_sunny_theme_dest:before,
.overcast_theme_dest:before,.moon_cloud_theme_dest:before,.moon_hazy_theme_dest:before,.hail_theme_dest:before{
   -moz-transform: scaleX(-1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        width: 100%;
        height: 100%;
}
.setting-overLay {
    left: 0;
}
#Hourly{
    float: right;
}
#Hourly ul {
margin: 0px;
padding: 0px;
float: right;
}
#Hourly ul li {
float: right;
}
#Hourly ul li:first-child:after {
left: 713px;
right: 0;
}
#Hourly ul li:last-child:after {
left: 588px;
right: 0;
}

.sliding-container{
    float: right;
}
.sliding-container > div {
    float: right;
}

/* My Location
==============================================================================*/
#favIcon.icon, #location-name.locationName{ 
    float: right;
}
#currLocRefIcon.icon, .content_left{ 
    float: right;
}
.locationName{
    text-align: left;
    margin-left: 0px;
    margin-right: 10px;
}
.updateTxt {
    margin-left: 41px;
}
.weatherStatus {
    margin-left: 94px;
}
.updateTxt,.weatherStatus{
    text-align: right;
}
.content_right .minTemp, .content_right .maxTemp{
    text-align: left;
    left: 20px;
}
.noFavMessage{
    margin-left: 0px;
}
.noFavIcon{
    margin-left: 252px;
}
.arabicFont .updateTxt span{
    text-align: right;
}
.header .icon{
    float: right;
}
.main .header .title span{
    text-align: right;
    margin-left: 19px;
}
.arabicFont .content_right {
    margin-top: -12px;
}
.arabicFont .content_right .currentTemp{
    line-height: 116px;
}
.arabicFont .searchHeaderTitleScroll{
    float: right;
    width: 588px;
    margin-right: 21px;
}
.arabicFont .search-title{
    float: right;
}
.arabicFont .main .searchHeaderTitle{
    width: 504px;
}
.arabicFont .main .header .title span {
    direction: rtl;
    text-align: right;
}
